{% extends 'base.html' %}
{% block body %}
<body class="blue lighten-2">
<style>
   @media only screen and (max-width: 767px) {

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
   }

}
</style>
<div class="blue lighten-2 col s12" style="height:100%; display:block; margin-top:0; width:100%; ">
    <div class="container"><div class="container white-text" style="margin-top:10%; position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>Bekk Blando</h1>
        <p class="flow-text">Bekk Bio</p>
        </div>
    </div>
</div>

<div class="green accent-3col s12" style="height:100%; display:block; margin-top:0; width:100%; ">
    <div class="container"><div class="container white-text" style="margin-top:10%; position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>Contact Me</h1>
        <p class="flow-text">bekkblando@gmail.com</p>
        <p class="flow-text">(864)-252-5185</p>

        </div>
    </div>
</div>

<div class="cyan darken-1 col s12" style="height:100%; display:block; margin-top:0; width:100%; ">
    <div class="container"><div class="container white-text" style="margin-top:10%; position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>Technologies Used in this web app</h1>
        <p class="flow-text">bekkblando@gmail.com</p>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>