{% load static from staticfiles %}
{% block header %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>


<script src="{% static 'twitter_typeahead.js' %}"></script>
<link rel="stylesheet" type="text/css"  href = "{% static 'style.css' %}"/>




    
{% if user.is_authenticated %}
    <div class="navbar-fixed" >
    <nav>
      <div class="nav-wrapper" style="background:#01579b">
          <ul class="left hide-on-med-and-down">
              <li><a href="{% url 'home' %}"> Home </a></li>
           <li><a href="{% url 'profile' %}"> Profile</a></li>
              </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>





    {% else %}
        <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <ul class="left hide-on-med-and-down">
          <li><a href="{% url 'home' %}"> Home </a></li>
              </ul>
        <ul class="right hide-on-med-and-down">
             <li> <a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">SignUp</a></li>
        </ul>
      </div>
    </nav>
  </div>
{% endif %}

{% endblock %}

{% block body %}

HO LETS GO

{% endblock %}