{% load static from staticfiles %}
{% block header %}
    <html>
    <head>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href = "{% static 'style.css' %}"/>
</head>


    
{% if user.is_authenticated %}
     <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="fa fa-arrows"></i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="P{% url 'chatlist' %}"><i class="fa fa-comment"></i></a></li>
      <li><a class="btn-floating yellow darken-1" href="{% url 'addskill' %}"><i class="fa fa-university"></i></a></li>
      <li><a class="btn-floating blue" href="{% url 'profile' %}"> <i class="fa fa-keyboard-o"></i></a></li>
    </ul>
  </div>
    <nav>
      <div class="nav-wrapper" style="background:#F78F66">
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
              <li><a href="{% url 'home' %}"> Home </a></li>
           <li><a href="{% url 'profile' %}">Dashboard</a></li>
              <li><a href="{% url 'addskill' %}">Skills</a></li>
              </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'chatlist' %}" style="text-decoration: none"><i class="fa fa-comment"></i></a></li>
            <li><a href="{% url 'update_user' %}"><i class="fa fa-info"></i></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href="{% url 'home' %}"> Home </a></li>
              <li><a href="{% url 'addskill' %}">Skills</a></li>
              <li><a href="{% url 'profile' %}">Dashboard</a></li>
             <li> <a href="{% url 'logout' %}">Logout</a></li>
      </ul>
  </div>
</nav>





    {% else %}
    <nav class="z-depth-5">
      <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
          <li><a href="{% url 'home' %}"> Home </a></li>
              </ul>
        <ul class="right hide-on-med-and-down">
             <li> <a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">SignUp</a></li>
        </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href="{% url 'home' %}"> Home </a></li>
             <li> <a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">SignUp</a></li>
      </ul>
  </div>
</nav>
{% endif %}
{% endblock %}

<script>

    $(document).ready(function(){
       $(".button-collapse").sideNav();
       $("#subbar").sideNav();

    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="{% static 'twitter_typeahead.js' %}"></script>

{% block body %}
{% endblock %}