{% extends 'base.html' %}

{% block body %}
<body class="blue lighten-2">
<div class="container">

{% if object_list %}
    {% for item in object_list %}
<style>
.effectbuttons{
    display:inline;

}
@media only screen and (max-width: 767px) {

.effectbuttons{
    margin-top: 10px;
}

}

@media only screen and (min-width:767px) {

.effectbuttons {
    margin-top: auto;
}
}
</style>
        <div style="margin-top: 40px;">
            <div class="row">
                <div class="col s3 m3">
                    <h6 class="white-text left" style="margin:0;"><a href="{% url 'userpage' item.user1.id %}">{{ item.user1 }}</a></h6>
                </div>

            <div class="col s6 m6">
                <div class="effectbuttons"><button class="green accent-3 waves-effect btn b{{ item.id }}">Show Chat</button></div>
                <div class="effectbuttons"><button class="green accent-3 waves-effect btn hide{{ item.id }}">Hide Chat</button></div>
            </div>

            <div class="col s3 m3">
                <h6 class="right white-text" style="margin:0;">
                    <a href="{% url 'userpage' item.user2.id %}">{{ item.user2 }}</a>
                </h6>
            </div>
            </div>
        </div>

        <div class="blue lighten-1 card grey-darken-3-text" id="cht{{ item.id }}" style="width:100%;margin-top: 6%;display:none;">
            <div class="card-content cardcon{{ item.id }}"><div class="ms{{ item.id }} blue lighten-3">

            </div>


        </div>
            <form class="f{{ item.id }}" style="display:none;margin-left:2%;margin-right:2%;">


            <input type="hidden" value="{{ request.user }}" id="user{{ request.user.id }}"/>
            <textarea class="blue lighten-2 " id="textbox{{ item.id }}" placeholder="Type Message Here"></textarea>

            {% if request.user == item.user1.user  %}
            <input type="hidden" value="{{ item.user1}}" id="user{{ item.id }}"/>
                    <input type="hidden" value="check1" id="check{{ item.id }}"/>

                   {% else %}
                    <input type="hidden" value="check2" id="check{{ item.id }}"/>

                <input type="hidden" value="{{ item.user2 }}" id="user{{ item.id }}"/>
            {% endif %}

            <input type="hidden" value="{{ item.id }}" id="chat{{ item.id }}" />
        <button class="green accent-3 waves-effect btn b1{{ item.user2.id }}" onclick="formread{{ item.id }}()" type="button">
            Send Message</button>
            </form>
</div>

        <script type="application/javascript">
            var openchat{{ item.id }} = function (){
                var content = ' ';
                var getUrl = "{% url 'messagelist' item.id %}";
                var messages = [];
                $.getJSON(getUrl, function (data){
                    var lastuser = 'un'
                    for (var i = 0; i < data.length; i++) {
                        var message = (data[i].text);
                        messages.push(message);

                        if (message === "undefined"){
                        }
                        console.log(data[i].sender);
                        if (data[i].sender == {{ item.user1.id }}) {
                            if (lastuser === 'un'){
                                console.log("Changed user");
                                content = content + "<hr>";
                            }
                            if (lastuser === 'user2'){
                                console.log("Changed user");
                                content = content + "<hr>";
                            }

                            var lastuser = 'user1';
                            content = content + "<div style='text-align:left;'>" + message + "</div><br/>";
                            console.log(lastuser);


                        }
                        else {
                            if (lastuser === 'un'){
                                console.log("Changed user");
                                content = content + "<hr>";
                            }
                            if (lastuser === 'user1'){
                                console.log("Changed user");
                                content = content + "<hr>";
                            }
                            var lastuser = 'user2';
                            content = content + "<div class='right' style='text-align:right'>" + message + "</div><br/>";
                            console.log(lastuser);

                        }
                    }
                    $(".ms{{ item.id }}").html(content);

                });
                var poll{{ item.id }} = (function poll() {
                        setTimeout(function() {
                openchat{{ item.id }}();
            }, 9000);
            })();
            };
            var hidechat{{ item.id }} = function(){
                var content = " ";
                $(".ms{{ item.id }}").html(content);
                $(".ms{{ item.id }}").css({display: 'none'});
                $(".f{{ item.id }}").css({display: 'none'});
                $(".cardcon{{ item.id }}").css({display:'none'})


            };

            var showchat{{ item.id }} = function(){
                $(".ms{{ item.id }}").css({display: 'block'});
                $("#cht{{ item.id }}").css({display: 'block'});
                $(".f{{ item.id }}").css({display: 'block'});
                $(".cardcon{{ item.id }}").css({display:'block'})


            };

            $('document').ready(function (){
                $(".b{{ item.id }}").click(openchat{{ item.id }});
                $(".b{{ item.id }}").click(showchat{{ item.id }});

                $(".hide{{ item.id }}").click(hidechat{{ item.id }})
            });

            var formread{{ item.id }} = function() {
                var check = document.getElementById("check{{ item.id }}").value;
                if (check == 'check1') {
                    var user1 = document.getElementById("user{{ request.user.id }}").value;
                    var chat = document.getElementById("chat{{ item.id }}").value;
                    var text = document.getElementById("textbox{{ item.id }}").value;
                    $('#textbox{{ item.id }}').val(" ");
                    $.ajax({
                      type: 'POST',
                      url: {% url 'messagecreate' %},
                      data: {user1: user1, chat: chat, text: text},
                      beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization','Token {{ token }}' );
                      }});
                    openchat{{ item.id }}();
                }
                else{
                    var user1 = document.getElementById("user{{ request.user.id }}").value;
                    var chat = document.getElementById("chat{{ item.id }}").value;
                    var text = document.getElementById("textbox{{ item.id }}").value;
                    $('#textbox{{ item.id }}').val(" ");


                    $.ajax({
                      type: 'POST',
                      url: {% url 'messagecreate' %},
                      data: {user1: user1, chat: chat, text: text},
                      beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization','Token {{ token }}' );
                      }});
                    openchat{{ item.id }}();

        }
                }
        </script>

{% endfor %}
{% else %}
<p class="flow-text"><a href="{% url 'profile' %}">
    You don't have any chats go to your dashboard to start making connections.</a></p>
{% endif %}
</div>
</body>
{% endblock %}
</html>