{% extends 'base.html' %}
{% block body %}
<body class="blue lighten-2">
{% if people %}
    <div class="container flow-text">
    <p class="flow-text">Current address is {{ address }}
below are skills found in a {{ radius }} Mile radius:</p>
    {% csrf_token %}





    <div class="row">


    <div class="col s6 m6 l6">
<div class="text-grey darken-3">User:</div>
    </div>
<div class="col s6 m6 l6">
<div class="text-white" style="display:inline">Skills in a {{ radius }} Mile radius: </div>
    </div>
</div>

{% for person in people %}
<div class="row">


    <div class="col s6 m6 l6">
<div class="text-grey darken-3"><a href="{% url 'userpage' person.0.user.profile.id %}" class="text-grey darken-3"> {{ person.0.user }}</a></div>
    </div>
<div class="col s6 m6 l6">
{% for skill in person.1 %}
    <div style="color:whitesmoke;display:inline"><div>{{ skill }}

    <input id='learn' type="hidden" name="skill" value="learn"  />
  <input  type="hidden" id="name{{ skill.id }}" value="{{ skill }}">
  <input  type="hidden" id="user{{ request.user.id }}" value="{{ request.user.id }}">
    <input type="hidden" id="description{{ skill.id }}" placeholder="Description" value="nodescription"/>
        <button class="learn{{ skill.id }}" style="background-color: Transparent;outline:none;border: none;">
            <i class="fa fa-plus"></i>
        </button>
    </div></div>


    <script>

var learnskill{{ skill.id }} = function(){
var token = $('input[name=csrfmiddlewaretoken]').val();
var learn = document.getElementById("learn").value;
var skill = document.getElementById("name{{ skill.id }}").value;
var user = document.getElementById("user{{ request.user.id }}").value;
var description = document.getElementById("description{{ skill.id }}").value;
$.ajax({
  type: 'POST',
  url: {% url 'addlearnapi' %},
  data: {'skill': skill, "learn": learn, "description": description, "user": user, 'csrfmiddlewaretoken': token}
  });
    Materialize.toast('Added {{ skill }} To Learn', 3000)
};


$(document).ready(function(){
$(".learn{{ skill.id }}").click(learnskill{{ skill.id }});


});
 </script>
{% endfor %}
    </div>
{% endfor %}
    </div>
</div>

{% else %}
<p class="center-align flow-text"><a href="{% url 'profile' %}">No skills found for {{ radius }} Mile Radius<br/>
    Try adjusting your radius for matches</a></p>
{% endif %}

</body>
{% endblock %}
</html>