{% extends 'base.html' %}
{% block body %}
<body class="blue lighten-2">
<style>

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
   }
   .about {
        margin-top:3%;
   }

}

@media only screen and (min-width:767px) {

    .about {
        margin-top: 10%;
    }
}
</style>

<div class="blue lighten-2 col s12" style="height:100%; display:block; margin-top:0; width:100%; ">
    <div class="container"><div class="container white-text" style="margin-top:10%; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>What do you want to&nbsp;learn?</h1>
        <p class="flow-text">Skill Swap is a way for you to trade skills with people in your community.</p>
        {% if user.is_authenticated %}
        <a class="waves-effect waves-lighten-2  btn-large" href="{% url 'profile' %}" style="background:#F78F66;">Profile</a>
        {% else %}
            <a class="waves-effect waves-lighten-2  btn-large" href="{% url 'register' %}" style="background:#EE6E73;">sign up</a>
        {% endif %}

    </div>
    </div>
</div>

<div class="col s12" style="background:#19E1FF; height:100%; display:block; margin-top:0; width:100%;">


    <div id="about" class="container"><div class="container white-text" style="position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>Who are we?</h1>
        <p class="flow-text">This is a project made by Bekk Blando for his Iron Yard Final Project.  We hope you enjoy
        looking at the site!</p>
        {% if user.is_authenticated %}
        <a class="waves-effect waves-lighten-2  btn-large" href="{% url 'about' %}" style="background:#F78F66;">Read More About Bekk</a>
        {% else %}
            <a class="waves-effect waves-lighten-2  btn-large" href="{% url 'about' %}" style="background:#EE6E73;">Read More About Bekk</a>
        {% endif %}
    </div></div>



</div>


<div class="col s12" style="background:#6EEE8F ; height:100%; display:block; margin-top:0; width:100%;">


    <div id="use" class="container"><div class="container white-text" style="margin-top:10%; position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">
    <h1>Site Help</h1>
        <p class="flow-text">We hope the site is self explanatory but if not this tutorial should help!</p>

    </div></div>


</div>


<div class="blue lighten-2  col s12" style=" height:100%; display:block; margin-top:0; width:100%;">


    <div id="area" class="container white-text"><div class="container" style="margin-top:10%; position:absolute; margin-left: auto;
margin-right: auto;
left: 0;
right: 0;">

    <h1>Find skills in your area</h1>
<style>
    input, select, textarea{
    color: #FFFFFF;
}

textarea:focus, input:focus {
    color: #FFFFFF;
}
</style>

<p class="flow-text">Enter your zipcode below</p>

<input placeholder="zipcode" type="text" id="zipinput" /><div style="margin-top:3%">
{% if user.is_authenticated %}
    <button id="zip" class="btn waves-effect" type="submit" style="vertical-align: top;background:#F78F66;">Submit <i class="material-icons">send</i>
{% else %}
    <button id="zip" class="btn waves-effect" type="submit" style="vertical-align: top;background:#EE6E73;">Submit <i class="material-icons">send</i>
{% endif %}
  </button>
            </div>
                <p class="flow-text">Here are the skills available in your area.</p>
<div class="skillsinarea" style="margin-top:3%">


</div>
        <div></div>

<script>
$(document).ready(function(){
    String.prototype.toProperCase = function () {
    return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};
    function isValidUSZip(sZip) {
   return /^\d{5}(-\d{4})?$/.test(sZip);
}

    $('#zip').click(function zip(){
    var zipcode = document.getElementById("zipinput").value;
    if (isValidUSZip(zipcode)){

    }
    else{
        var notval = "<p class='flow-text'><a href='{% url 'register' %}' style='color:white'>"+ "Not a valid zipcode" +"</a></p>";
        $(".skillsinarea").html(" ");
        $(".skillsinarea").append(notval);
    }

    var getUrl = '/zipcodesearch/' + zipcode;
    var skill = [];
    $.getJSON(getUrl, function (response){
        if (response.length){
        $(".skillsinarea").html(" ");
        for (i = 0, len = response.length; i < len; i++){
            var newskill = "<p class='flow-text'><a href='{% url 'register' %}' style='color:white'>"+response[i]['name'].toProperCase() +"</a></p>";
            $(".skillsinarea").append(newskill);}}
        else{
          var newskill = "<p class='flow-text'><a href='{% url 'register' %}' style='color:white'>"+"No skills found, be the first in your area"+"</a></p>";
          $(".skillsinarea").html(newskill);
        }

        });
    })
});
    </script>


</div>
    </div>
    </div>
</div>
</body>
{% endblock %}
</html>