{% extends 'base.html' %}
{% block body %}
<body>
    <nav id="submenu" style="z-index: 10;">
      <div class="nav-wrapper" style="background:#009688; text-align: center;">
                   <a href="{% url 'profile' %}#match" >Matches</a>

<ul class="left hide-on-med-and-down">
          <li><a href="#area" >Skills In Area</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">

          <li><a href="{% url 'profile' %}#recommend" >Recommendations</a></li>
</ul>
<a href="#" data-activates="mobile-demo" class="button-collapse" id="subbar"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile">
              <li><a href="{% url 'profile' %}#recommend" >Recommendations</a></li>
              <li><a href="{% url 'profile' %}#area" >Skills In Area</a></li>
      </ul>
      </div>
    </nav>

{% comment %}
<h1>User Information</h1>
<form method="get"  action="{% url 'update_user' %}">
<button type="submit">Edit Information</button></form>
{{ address }}<br/>
{{ phone }}
    <h1>Skills you know</h1>
    {% for item in know %}
        {{ item.skill }}<form method="POST" action="{% url 'deleteknow' item.id %}">{% csrf_token %}<button type="submit" >Delete</button></form>
        Rank: {{ item.rank }}<br/>
        Description: {{ item.description }}
    {% endfor %}
    <h1>Skills you want to know</h1>
{% for item in learn %}
    {{ item.skill }}<form method="POST" action="{% url 'deletelearn' item.id %}">{% csrf_token %}<button type="submit" >Delete</button></form>
{% endfor %}
<br/>
      <ul class="collection with-header">
        <li class="collection-header"><h4>Matches</h4></li>
          {% for tu in exact %}<li style="text-align:center;">


<div class="left"  style="vertical-align: middle" > Skill: {{ tu.0.name }}</div>
    {% for user in tu.1 %}

<div class="center-align" align="center" style="display:inline-block;text-align:center;vertical-align: middle">User:<a href="{% url 'userpage' user.user.id %}" > {{ user.user }}</a></div>

<form class="right" method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <a class="waves-effect waves-light btn right" style=" height:8%;">Create Chat</a>
</form>
        {% endfor %}
{% endfor %}</li>

                {% for tu in similiar %}<li style="text-align:center;">


<div class="left"  style="vertical-align: middle" > Skill: {{ tu.2 }}</div>
    {% for user in tu.1 %}

<div class="center-align" align="center" style="display:inline-block;text-align:center;vertical-align: middle;">User:<a href="{% url 'userpage' user.user.id %}" > {{ user.user }}</a></div>

<form class="right" method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0; position:absolute">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <a class="waves-effect waves-light btn right" style=" height:8%;" >Create Chat</a>
</form>
        {% endfor %}
{% endfor %}</li>
      </ul>



      </ul>{% endcomment %}
      <ul class="collection" id="match">
              <li class="collection-item avatar" style="padding-left:0;padding-right:0"><h4 class="center-align" style="margin:0">Matches</h4></li>

        {% for tu in exact %}<li class="collection-item avatar" style="padding-left:0;padding-right:0">
            <div class="row" style="margin:0;">
<div class="col s4"  style="vertical-align: middle" > Skill: {{ tu.0.name }}</div>
    {% for user in tu.1 %}

<div class="col s4" style="text-align:center;: middle">User:<a href="{% url 'userpage' user.user.id %}" > {{ user.user }}</a></div>

<form class="right col s4" method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <button class="waves-effect waves-light btn right" >Create Chat</button>
</form>
        {% endfor %}
{% endfor %}</div></li>

                     {% for tu in similiar %}<li class="collection-item avatar" style="padding-left:0;padding-right:0">

<div class="row" style="margin:0;">

<div class="col s4"  style="vertical-align: middle" > Skill: {{ tu.2 }}</div>
    {% for user in tu.1 %}

<span class="col s4"  style="display:inline-block;text-align:center;vertical-align: middle;">User:<a href="{% url 'userpage' user.user.id %}" > {{ user.user }}</a></span>

<form class="col s4" method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0; ">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <button class="waves-effect waves-light btn right">Create Chat</button>
</form>
        {% endfor %}
{% endfor %}</div></li>
  </ul>






<div class="row" id="area">
    <div class="col s12 m12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title " ><h3 class="center-align">Skills in Area</h3></span>
<form method="POST">{% csrf_token %}
    <select name="distance" style="visibility: visible;display:inline-block;background:#009688;">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
        <option>60</option>
        <option>70</option>
        <option>80</option>
        <option>90</option>
        <option>100</option>
    </select>
    <button type="submit" class="waves-effect blue accent-2 btn">Get Skills in Area</button>
    </form>
        </div>
        <div class="card-action">
{% for person in people %}<div class="flow-text" >
<div style="color:#424242;font-weight: 800 ;">User:<a href="{% url 'userpage' person.0.user.id %}" style="color:#424242"> {{ person.0.user }}</a>
    </div>
<div style="color:whitesmoke; display:inline">Skills Available: </div>
{% for skill in person.1 %}
    <div style="color:whitesmoke;display:inline">{{ skill }}</div>
{% endfor %}
{% endfor %}</div>
        </div>
      </div>
    </div>
</div>





<div class="row" id="recommend">
    <div class="col s12 m12">
      <div class="card teal">
        <div class="card-content white-text">
          <span class="card-title"><h3 class="center-align">You may also like</h3></span>
        </div>
        <div class="card-action flow-text center-align" style="font-weight: 600; color:whitesmoke">
{% for item in recommendation %}
<p>{{ item }}</p>
{% endfor %}
        </div>
      </div>
    </div>
</div>


<script>

    $(document).ready(function(){ // document ready

  var stickyTop = $('#submenu').offset().top; // returns number

  $(window).scroll(function(){ // scroll event

    var windowTop = $(window).scrollTop(); // returns number

    if (stickyTop < windowTop) {
      $('#submenu').css({ position: 'fixed', top: 0 });
    }
    else {
      $('#submenu').css({ position: 'static'});
    }

  });

});


</script>
</body>
{% endblock %}
</html>