{% extends 'base.html' %}
{% block body %}
<body class="blue lighten-2">
    {% csrf_token %}

<style>
    @media only screen and (max-width: 767px) {

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
   }

}


</style>
<div class="container">
{% if exact or similiar %}
{% else %}
<a href="{% url 'addskill' %}">
{% endif %}
      <div class="row">
        <div class="col s12 m12">
          <div class="card hoverable blue darken-2">
            <div class="card-content white-text">
              <div class="card-title" style="text-align: center;">Matches</div>
{% if exact or similiar %}
    <div class="row" style="margin-top:15px;margin-bottom: 15px;">

<div class="left-align col s6 flow-text" >Skill</div>


<div class="right-align col s6 flow-text">
   <div>User</div>
    </div>
</div>
       <hr/>

{% for tu in exact %}
<div class="row" style="margin-top:15px;margin-bottom: 15px;">

<div class="left-align col s6" ><a href="{% url 'skillpage' tu.0.id %}"> {{ tu.0.name }}</a></div>


<div class="right-align col s6">
    {% for user in tu.1 %}
   <div><a href="{% url 'userpage' user.user.profile.id %}" style="color:white"> {{ user.user }}</a>
       <form  method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0;display:inline">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <button type="submit" style="background-color: Transparent;outline:none;border: none;"><i class="fa fa-comment"></i></button>
</form></div>
    {% endfor %}
</div></div><hr/>

{% endfor %}


{% for tu in similiar %}
<div class="row" style="margin-top:15px;margin-bottom: 15px;">

<div class="left-align col s6" ><a href="{% url 'skillpage' tu.2.id %}">{{ tu.2 }}</a></div>

<div class="right-align col s6">
    {% for user in tu.1 %}
   <div><a href="{% url 'userpage' user.user.profile.id %}" style="color:white"> {{ user.user }}</a><form  method="POST" action="{% url 'userchatcreate'%}" style="vertical-align: middle; margin-bottom:0;display:inline;">{% csrf_token %}
        <input type="hidden" name="user2" value="{{ user.user }}"/>
        <button type="submit" style="background-color: Transparent;outline:none;border: none;"><i class="fa fa-comment"></i></button>
</form></div>
    {% endfor %}
    </div></div><hr/>
{% endfor %}
{% else %}
<h4>No Matches? <a style="color:white" href="{% url 'addskill' %}">Add more skills to learn and see if you get some</a></h4>
{% endif %}
</div>
</div>
</div>
            </div>
          </div>
        </div>
      </div>
<a class="placehold"></a>

{% if similiar or exact %}
{% else %}
</a>
{% endif %}
{% if user.profile.geo_enabled %}
{% else %}

<a href="{% url 'update_user' %}">
{% endif %}
<div class="row">
{% if recommendation %}
    <div class="col s12 m6" >
    {% else %}
    <div class="container">
        <div class="col s12 m12" >
    {% endif %}
      <div class="card geotip hoverable blue darken-2" data-position="bottom" data-delay="50" data-tooltip="Add your address to use">
        <div class="card-content white-text">
          <span class="card-title " ><h3 class="center-align">Skills in Area</h3></span>
{% if user.profile.geo_enabled %}
<form method="POST" action="{% url 'geo_skills' %}">{% csrf_token %}
    <select class="distance blue darken-2" name="distance" style="visibility:visible;display:inline-block;-webkit-appearance:;">
        <option>10 Miles</option>
        <option>20 Miles</option>
        <option>30 Miles</option>
        <option>40 Miles</option>
        <option>50 Miles</option>
        <option>60 Miles</option>
        <option>70 Miles</option>
        <option>80 Miles</option>
        <option>90 Miles</option>
        <option>100 Miles</option>
    </select>
    <button  type="submit" class="waves-effect btn" style="margin-top:5%;background:#F78F66;">Get Skills in Area</button>
    </form>
{% else %}

<div class="container">



    <p class="flow-text" style="color:white;"><a href="{% url 'update_user' %}">
        You must add your address to your profile to use this feature</a></p></div>
{% endif %}</div>
        <div class="card-action"><p class="flow-text">
{% for person in people %}

<div style="color:#424242;font-weight: 800 ;">User:<a href="{% url 'userpage' person.0.user.id %}" style="color:#424242"> {{ person.0.user }}</a></div>
<div style="color:whitesmoke; display:inline">Skills Available: </div>
{% for skill in person.1 %}
    <div style="color:whitesmoke;display:inline">{{ skill }}</div>
{% endfor %}
{% endfor %}
            </p>
            </div>
        </div>
      </div>
{% if user.profile.geo_enabled %}
{% else %}
</a>
{% endif %}
{% if recommendation %}
{% else %}
</div>
    {% endif %}
{% if recommendation %}
<div class="col s12 m6" >
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title"><h3 class="center-align">You may also like</h3></span>
        </div>
        <div class="card-action flow-text center-align" style="font-weight: 600; color:whitesmoke">

{% for item in recommendation %}
<p>{{ item }}
    <input id='learn' type="hidden" name="skill" value="learn"  />
  <input  type="hidden" id="name{{ item.id }}" value="{{ item }}">
  <input  type="hidden" id="user{{ request.user.id }}" value="{{ request.user.id }}">
    <input type="hidden" id="description{{ item.id }}" placeholder="Description" value="nodescription"/>
        <button class="learn{{ item.id }}" style="background-color: Transparent;outline:none;border: none;">
            <i class="fa fa-plus"></i>
        </button>
    <script>

var learnskill{{ item.id }} = function(){
var token = $('input[name=csrfmiddlewaretoken]').val();
var learn = document.getElementById("learn").value;
var skill = document.getElementById("name{{ item.id }}").value;
var user = document.getElementById("user{{ request.user.id }}").value;
var description = document.getElementById("description{{ item.id }}").value;
$.ajax({
  type: 'POST',
  url: {% url 'addlearnapi' %},
  data: {'skill': skill, "learn": learn, "description": description, "user": user, 'csrfmiddlewaretoken': token}
  });
    Materialize.toast('Added {{ item }} To Learn', 3000)
};


$(document).ready(function(){
$(".learn{{ item.id }}").click(learnskill{{ item.id }});


});
 </script>





    </p>
{% endfor %}

        </div>
      </div>
    </div>
</div>
        {% else %}
        {% endif %}


<script>

    $(document).ready(function(){ // document ready



{% if exact or similiar %}
            {% else %}
Materialize.toast("<span>Add Skills!</span><a class='btn-flat yellow-text'; href='{% url 'addskill' %}';>Add Skills<a>", 4000);
        {% endif %}


{% if user.profile.geo_enabled %}
{% else %}
$('.geotip').tooltip({delay: 50});
{% endif %}




    $(window).resize( function() {
    resize();
});

resize();


function resize(){
    if($(window).width() < 480)
    {
        //Mobile
        $(".placehold").insertAfter("<div class='container'>");
    }
    else if($(window).width() < 800)
    {
        //Tablet
        $(".placehold").insertAfter("<div class='container'>");
    }
    else
    {
        //Desktop
        //Leave original layout
       $(".placehold").insertAfter(" ");

    }
}

});


</script>
</body>
{% endblock %}
</html>