{% extends 'base.html' %}
{% block body %}
<body>
<h1>User Name</h1>
{{ object.user }}
<h1>Skills they know</h1>
{% for item in know  %}
    <br/><h2>Skill</h2>
{{ item.0 }}
<br/><h2>Rank</h2>
{{ item.1.rank }}
    <br/><h2>Description</h2>
{{ item.1.description }}
{% endfor %}
<h1>Skills they want to learn</h1>
{% for item in learn  %}
    <br/><h2>Skill</h2>
{{ item.0 }}
    <br/><h2>Description</h2>
{{ item.1.description }}
{% endfor %}
<h1>Meeting with them</h1>
{% for item in review %}
<br/>
{{ item }}
{% endfor %}
<br/><div>
<form method="POST" action="{% url 'meetingcreate' %}">{% csrf_token %}

<div><textarea name="content">Type how it went here</textarea></div>
    <input type="hidden" name="user" value="{{ object.user.id }}"/>
    <button type="submit">Talk about it</button>
</form></div>
</body>
{% endblock %}
</html>