{% extends 'base.html' %}
{% block body %}
<body style="background:#00B8D4">
<div class="container">

<p class='flow-text' style="color:white">{{ object.user }}</p>

<div class="row">
    <div class="col s12 m12">
       <a href="{% url 'addskill' %}"><div class="card hoverable" style="background:#3DC461;">
        <div class="card-content white-text">
          <span class="card-title">Skills they know <i class="fa fa-graduation-cap"></i></span>

{% for item in know  %}
<div class="row">
    <div class="col s6 m6"><p class="flow-text">Skill</p>{{ item.0 }}
        <form method="post" action="{% url 'addlearn' %}" style="display:inline">
            {% csrf_token %}
    <input id='learn' type="hidden" name="skill" value="learn"  />
  <input  type="hidden" name="name" value="{{ item.0 }}">
    <input type="hidden" name="description" placeholder="Description" value="nodescription"/>
    <input type="hidden" name="page" value="{{ object.id }}"/>

        <button type="submit" style="background-color: Transparent;outline:none;border: none;">
            <i class="fa fa-plus"></i>
        </button>
        </form>
    </div>

<div class="col s6 m6"><p class="flow-text">Rank</p>
{{ item.1.rank }}</div></div>
{% endfor %}

        </div>
      </div>
    </div></a>
  </div>
<div class="row">
    <div class="col s12 m12">
      <a href="{% url 'addskill' %}"><div class="card  hoverable" style="background:#34F7D6;">
        <div class="card-content white-text">
          <span class="card-title">Skills they learn <i class="fa fa-cogs"></i></span>

{% for item in learn  %}
<div class="row">
    <div class="col s12 m12"><p class="flow-text">Skill</p>{{ item.0 }}
    </div>
</div>
{% endfor %}

        </div>
      </div>
    </div></a>
  </div>

<p class="flow-text" style="color:white">Meetings</p>
<ul class="collapsible popout" data-collapsible="accordion" style="border-color:#00B8D4">
{% for item in review %}
   <li>
      <div class="collapsible-header" style="border-color:#00B8D4;background:#0C93EB">Met with {{ item.usercommenting }}</div>
      <div class="collapsible-body" style="border-color:#00B8D4"><p>{{ item.meeting }}</p></div>
    </li>
{% endfor %}
</ul>
    <style>
        textarea {
            color: #FFFFFF;
        }
        label {
            color: #FFFFFF;
        }

    </style>

<form method="POST" action="{% url 'meetingcreate' %}">{% csrf_token %}

<div><textarea name="content" placeholder="Type how it went here"></textarea></div>
    <input type="hidden" name="user" value="{{ object.user.id }}"/>
    <button class="waves-effect btn" type="submit" style="background:#F78F66">Talk about it</button>
</form></div>
</div>

</body>
{% endblock %}
</html>